{
  "presets": [
    ["env", {
      /**
       * 由于 Tree Shaking 特性可能对缓存功能有较大影响，此处关闭此特性
       */
      // "modules": false // Tree Shaking 特性要求使用 es6 模块语法才能分析无效引用，所以此处要关闭 babel 对 import 语法的转义
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-async-functions",

    ["import", { "libraryName": "antd-mobile", "style": true }]

    /**
     * 让 vue 支持 jsx 语法，文档：https://github.com/vuejs/babel-plugin-transform-vue-jsx
     * 由于与 react jsx 语法编译互斥，停止使用
     */
    // "transform-vue-jsx"
  ]
}