{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "no-undef": "error",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "no-empty": "error",
    "no-empty-function": "warn",
    "eqeqeq": "warn",
    "no-lone-blocks": "warn",
    "no-loop-func": "warn",
    "no-native-reassign": "error",
    "no-alert": "off",
    "no-extra-label": "warn",
    "no-eval": "error",
    "no-redeclare": "error",
    "radix": "warn",
    "no-return-assign": "warn",
    "no-bitwise": "off",
    "no-mixed-spaces-and-tabs": "warn",
    "max-depth": ["warn", { "max": 4 }],
    "max-params": ["warn", { "max": 4 }],
    "max-lines": ["warn", { "max": 1000 }],
    "no-const-assign": "error",
    "prefer-template": "warn",
    "no-var": "warn",
    "no-implicit-globals": "error",
    "wrap-iife": "error",
    "no-extra-semi": "warn"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
