{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.json", ".babelrc", ".prettierrc"],
      "options": {
        "parser": "json",
        "tabWidth": 2
      }
    },
    {
      "files": "*.{css,sass,scss,less,cssm,sassm,scssm}",
      "options": {
        "parser": "postcss",
        "tabWidth": 2
      }
    }
  ]
}
