
.listView {
  height: 100vh;
}

.separator {
  background-color: #F5F5F9;
  height: 24px;
  border-top: 1px solid #ECECED;
  border-bottom: 1px solid #ECECED;
}

.row {
  padding: 0 30px;
  background-color: white;
  width: 750px;

  .title {
    height: 70px;
    line-height: 70px;
    color: #888;
    font-size: 34px;
    border-bottom: 1px solid #ddd;
  }

  .info {
    display: flex; 
    padding: 30px 0;
    width: 690px;
    

    > img {
      height: 90px; 
      width: 90px; 
      margin-right: 30px;
    }

    > div {
      flex: 1;
      width: 570px;

      .name {
        margin-bottom: 8px;
        color: #000;
        font-size: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;        
        width: 570px;
      }

      .price {
        font-size: 32px;

        .value {
          font-size: 56px; 
          color: #FF6E27;
        }
      }
    }
  }
}

.refreshHolder {  
  height: 0;  
  position: relative;

  > div {
    width: 750px;
    height: 48px;
    font-size: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }
}
