$paddingLeft: 30pt;
$lineHeight: 80pt;

.list {
  max-height: 100vh;
  overflow: auto;
}

.group-head {
  display: flex;
  align-items: center;
  height: $lineHeight;
  background: #e6e6e6;
  padding-left: $paddingLeft;
}

.group {  
  &.fixed,
  &.bottomed {
    padding-top: $lineHeight;

    .group-head {
      left: 0;
      right: 0;
      z-index: 100;
    }
  }

  &.fixed {
    position: static;
    .group-head {
      position: absolute;
      top: 0;
    }
  }

  &.bottomed {
    position: relative;
    .group-head {
      position: absolute;
      top: initial;
      bottom: 0;
    }
  }
}

.items {
  padding-left: $paddingLeft;
}

.item {
  border-bottom: solid 1px #e6e6e6;
  display: flex;
  align-items: center;
  height: $lineHeight;

  font-size: 26pt;

  &:last-child {
    border-bottom: none;
  }
}
