
.wrapper {
  margin: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  border: solid 2px blue;
  padding: 20px;  
}

.bar {  
  width: 20px;
  position: absolute;
  top: 20px;
  bottom: 20px;
  cursor: col-resize;
  background-color: rgba(0, 0, 0, .1);
}