// * {
//   background: url(../../../../assets/img/al_icon.png);
// }

div {
  color: blue;
  height: 100vh;

  h2 {
    color: orange; // lalala
  }
}

.module {
  color: green;
}
.another-module {
  color: navajowhite;
}
.module {
  background: red;
}
.another-module {
  background: yellow;
}

.a {
  height: 10px;
  background: orange;
  background: rgba(255, 165, 0, 0.5);
}
